
    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 15px 20px;
      margin: 5px 0 5px;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    /* Set a style for all buttons */
    .lgbt {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }

    /* Center the image and position the close button */
    h2 {
      font-weight: bold;
      text-align: center;
      margin: 20px 0 8px 0;
      padding-bottom: 10px;
      position: relative;
    }

    .container {
      padding: 16px 38px;
    }

    span.psw {
      float: right;
      padding-top: 16px;
    }



    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 10% auto 15% auto;
      border: 1px solid #888;
      max-width: 400px;
      min-width: 20%;
      min-height: 500px;
    }

    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.2s;
      animation: animatezoom 0.2s
    }

    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0)
      }

      to {
        -webkit-transform: scale(1)
      }
    }

    @keyframes animatezoom {
      from {
        transform: scale(0)
      }

      to {
        transform: scale(1)
      }
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (min-width: 400px) {
      span.psw {
        display: block;
        float: none;
      }

      .cancelbtn {
        width: 100%;
      }
    }

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }



    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0)
      }

      to {
        -webkit-transform: scale(1)
      }
    }

    @keyframes animatezoom {
      from {
        transform: scale(0)
      }

      to {
        transform: scale(1)
      }
    }
    
    .carousel-inner {
      max-height: 100%;
      min-height: 600px;
      width: 100%;
      text-align: center;
    }
    @media (min-height: 400px), screen and (orientation: portrait){
    .carousel-item .active {
      text-align: center;
      font-size: 25px;
    }

    .movieContain {
      background-color: rgb(190, 190, 190);
      min-height: 700px;
      
    }
    .carousel .slide{
      text-align: center;
    }

    .imgContent .img {
      min-height: 500px;
    }

    .carousel-indicators .active {
      background-color: rgb(126, 126, 126);
    }
  }