html {
		font-size : 30px;
		font-family :"Verdana";
		}
body {
		width : 1200px;
		}
h1 {
		color : green;
		}
h2 {
		background-color : blue;
		color : white;
	}
h3 {
		background-color : blue;
		color : white;
}
img {
	border: 3px solid black;
	padding : 5px;
}